/* ROOT STUFF */
body {
    padding: 0px;
    margin: 0px;
}

:root {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    transition: background 0.3s;
    margin: 0;
    padding: 0;
    color-scheme: light dark;
}

:root.dark-theme {
    background: var(--background);
}

:root.light-theme {
    background: var(--background);
}

/* SETTINGS CONTAINER */
.settings-container {
    transition: background 0.3s;
    max-width: 400px;
    margin: 40px auto;
    padding: 32px 24px 24px 24px;
    border-radius: 12px;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
}

:root.dark-theme .settings-container {
    background: var(--background);
}

:root.light-theme .settings-container {
    background: var(--background);
}

.setting-name {
    margin-right: 10px;
}

h1 {
    font-size: 1.7em;
    margin-bottom: 24px;
    transition: background 0.3s;
    text-align: center;
}

:root.light-theme h1 {
    color: var(--foreground);
}

:root.light-theme h1 {
    color: var(--foreground);
}

#timeout-status {
    color: var(--foreground);
    text-align: right;
}

.form-group {
    margin-top: 18px;
}

label {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
    color: var(--foreground);
    font-weight: 500;
    justify-content: space-between;
}

input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.slider {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    margin-left: 10px;
}

.slider input {
    display: none;
}

.slider-track {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 24px;
    transition: background 0.3s;
}

:root.light-theme .slider-track {
    background: var(--secondary);
}

:root.dark-theme .slider-track {
    background: var(--secondary);
}

.slider-thumb {
    position: absolute;
    left: 3px;
    top: 3px;
    width: 18px;
    height: 18px;
    background: var(--background);
    border-radius: 50%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12);
    transition: transform 0.2s;
}

input[type="checkbox"]:checked + .slider .slider-track {
    background-color: var(--primary);
}

input[type="checkbox"]:checked + .slider .slider-thumb {
    transform: translateX(20px);
}

.slider:active .slider-thumb {
    box-shadow: 0 2px 8px rgba(25, 118, 210, 0.2);
}

input[type="text"] {
    width: 50%;
    padding: 8px 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 1em;
    background: var(--secondary);
    transition: border 0.2s background 0.3s;
}

:root.light-theme input[type="text"] {
    color: #111;
    caret-color: #111;
    background: var(--secondary);
}

:root.dark-theme input[type="text"] {
    background: var(--secondary);
}

input[type="text"]:focus {
    border: 1.5px solid var(--primary);
    outline: none;
}

button[type="submit"] {
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    margin-top: 10px;
}

:root.dark-theme button[type="submit"] {
    background: var(--primary);
}

:root.light-theme button[type="submit"] {
    background: var(--primary);
}

.half-button {
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    width: calc(50% - 2.5px);
    margin-top: 10px;
}

:root.dark-theme .half-button {
    background: var(--foreground);
}

:root.light-theme .half-button {
    background: var(--foreground);
}

.full-button {
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    width: 100%;
    margin-top: 10px;
}

:root.dark-theme .full-button {
    background: var(--foreground);
}

:root.light-theme .full-button {
    background: var(--foreground);
}

button[type="submit"]:hover {
    background: #1256a3;
}

#status {
    margin-top: 16px;
    text-align: center;
    color: var(--success);
    font-size: 1em;
    min-height: 1.2em;
}

#password-warning {
    color: var(--error);
    font-size: 0.9em;
}

.hidden {
    display: none;
}

/* PASSWORD PROMPT */
#password-prompt-background {
    background: var(--background);
    /* backdrop-filter: blue(10px); */
    height: 100vh;
    width: 100vw;
    top: 0px;
    bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-prompt {
    transition: background 0.3s;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 10px;
}

:root.light-theme #password-prompt {
    background: var(--background);
}

:root.dark-theme #password-prompt {
    background: var(--background);
}

#password-prompt h2 {
    color: var(--foreground);
    text-align: center;
    margin-bottom: 0px;
}

#password-prompt p {
    color: var(--foreground);
    text-align: center;
    margin-top: 0px;
}

input[type="password"] {
    padding: 8px 10px;
    margin: 0px 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 1em;
    background: var(--secondary);
    transition: border 0.2s background 0.3s;
}

:root.light-theme input[type="password"] {
    color: #111;
    caret-color: #111;
    background: var(--secondary);
}

:root.dark-theme input[type="password"] {
    background: var(--secondary);
}

#confirm-password {
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px 5px 10px 5px;
}

:root.dark-theme #confirm-password {
    background: var(--primary);
}

:root.light-theme #confirm-password {
    background: var(--primary);
}

#password-status {
    color: var(--error);
    font-size: 1.05em;
    text-align: center;
}

* PASSWORD PROMPT */ #password-prompt-background {
    background: var(--background);
    height: 100vh;
    width: 100vw;
    top: 0px;
    bottom: 0px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#password-prompt {
    transition: background 0.3s;
    box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    padding: 10px;
}

:root.light-theme #password-prompt {
    background: var(--background);
}

:root.dark-theme #password-prompt {
    background: var(--background);
}

#password-prompt h2 {
    color: var(--foreground);
    text-align: center;
    margin-bottom: 0px;
}

#password-prompt p {
    color: var(--foreground);
    text-align: center;
    margin-top: 0px;
}

input[type="password"] {
    padding: 8px 10px;
    margin: 0px 10px;
    border: 1px solid var(--border);
    border-radius: 5px;
    font-size: 1em;
    background: var(--secondary);
    transition: border 0.2s background 0.3s;
}

:root.light-theme input[type="password"] {
    color: #111;
    caret-color: #111;
    background: var(--secondary);
}

:root.dark-theme input[type="password"] {
    background: var(--secondary);
}

#confirm-password {
    color: var(--background);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s;
    margin: 10px 5px 10px 5px;
}

:root.dark-theme #confirm-password {
    background: var(--primary);
}

:root.light-theme #confirm-password {
    background: var(--primary);
}

#password-status {
    color: var(--error);
    font-size: 1.05em;
    text-align: center;
}
